* { 
  padding: 0; 
  margin: 0;
  border: 0;
}

html {
  background-color: #3D0000;
  scroll-behavior: smooth;
}

h1 {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-size: 48px;
  font-weight: 700;
}

a, ul {
  color: #f7dfdf;
  text-shadow: 1px 1px 1px black;
  }
  /*    Navbar    */
  .navbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#000000;
    opacity: 0.9;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  }
  .nav-links {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 16px;
  }  
  .nav-links a {
    text-decoration: none;
    display: block;
    font-size: 20px;
    padding: 16px;
  }
  
  .nav-links a:hover {
    background-color: #3D0000;
    cursor: pointer;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
  }
  
  /* main section */
  #title-section {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding: 128px;
  }
  .main-textbox {
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 64px;
  }

  /* whoami section */
  .whoami {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

    #whoami-title {
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      margin-top: 128px;
      display: flex;
      flex-direction: column;
      gap: 64px;
    }
    
    #whoami-textbox {
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      padding-top: 64px;
      padding-bottom:  128px;
    }
    #hackerimg {
      flex: 1 1 auto;
      max-width: 300px;
      border-radius: 15%;
    }

    /* skills section */
    #skills-tile{
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      padding-top: 64px;
    }
    .skills-list {
      display: flex;
    }

    .skills-list p {
      flex: 1;
      color: #ffffff;
      text-shadow: 2px 2px 4px #000000;
      text-align: center;
      padding-top: 64px;
      padding-bottom:  128px;
    }
    .jslogo, 
    .htmllogo, 
    .csslogo {
      max-width: 300px;
      flex: 1 1 auto;
    }
    .logos {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }